
h1 {
	text-align: center;
	color: blue;
}
.Donate-Button {
	padding: 3em;
}
body {
	background-color: lightblue;
}
h4 {
	color: darkblue;
}
.navbar {
	margin: 0px;
}
.img-responsive{
 max-width: 100%;
 height: auto;
 display: block;
}
.container-fluid{
 background-color: lightblue;
}
.progress {
	width: 540px; height: 100%; max-width: 100%; margin: 0 auto;
}
#hands img {
	float:left;
}
.col-xs-12{
	margin: 20px;
}
