<<<<<<< HEAD
img { 
=======
img {
>>>>>>> edbe4a951244bb495d31a4a38606de20260dd9e7
	float: left;
}
h1 {
	text-align: center;
}
.Donate-Button {
	padding: 3em;
<<<<<<< HEAD
}
=======
}
body {
	background-color: lightblue;
}
>>>>>>> edbe4a951244bb495d31a4a38606de20260dd9e7
